.listBox {
    text-align: left;
    background: #eee;
    padding: 30px 50px;
    margin: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.listRow {
	font-size: 15px;
	line-height: 40px;
    word-break: break-word;
    border-bottom: 1px solid rgba(227, 227, 227, 1);
}

.deleteText {
    padding: 1px 5px;
    background-color: #cc3220;
    color: #fff;
    border-radius: 6px;
    font-size: 11px;
    margin-left: 20px;
    cursor: pointer;
}