.listBox {
    text-align: left;
    background: #eee;
    padding: 30px 50px;
    margin: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.listRow {
	font-size: 15px;
	line-height: 30px;
	cursor: pointer;
    word-break: break-word;
}